.text-gray {
  color: #888;
}

.bg-shaft {
  background-color: #383838;
}

.text-shaft {
  color: #383838;
}

.hover-white:hover {
  color: white;
  text-decoration: none;
}

.text-cabaret {
  color: #d35266;
}

.bg-cabaret {
  background-color: #d35266;
}

.btn-cabaret {
  color: #fff;
  background-color: #d35266;
}

.btn-cabaret:hover {
  color: #fff;
  background-color: rgb(199, 32, 57);
}

.font-hlvtic-md {
  font-family: "HelveticaNeue-Medium", Arial, Helvetica, sans-serif;
}

.font-hlvtic-lt {
  font-family: "HelveticaNeue-Light", Arial, Helvetica, sans-serif;
}

.font-gotham-lt {
  font-family: gothamrounded-light, Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.header > nav {
  max-width: 1310px;
  width: 1310px;
}

.header .nav .nav-item {
  padding-right: 10px;
  font-family: 'gothamrounded-light', Arial, Helvetica, sans-serif;
}

.header .nav:first-child .nav-item:first-child {
  font-family: 'HelveticaNeue-Medium', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

@media (max-width: 913px) {
  #post-add {
    display: none;
  }
}

.search-products .title,
.search-products > p {
  font-family: 'HelveticaNeue-Medium', Arial, Helvetica, sans-serif;
}

.search-btn {
  font-family: 'gothamrounded-light', Arial, Helvetica, sans-serif;
}

.main,
.footer {
  position: relative;
  top: 65px;
}

@media (max-width: 760px) {
  .right-btns .nav-item:first-child,
  .right-btns .nav-item:nth-child(2) {
    display: none;
  }
}

.search {
  max-width: 750px;
}

.search .form-group {
  margin-bottom: 0;
}

.search .form-group:last-child {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .search {
    width: 100%;
  }
}

.search-form > .form-group:nth-child(2) {
  margin: 0 1px;
  flex: 2;
}

#results .parameters {
  font-family: gothamrounded-light, sans-serif;
}

#results .product-details {
  font-family: "HelveticaNeue-Medium", sans-serif;
}

#results .product-details .product-desc {
  color: #888;
}

#results .form-group h6 {
  font-family: "HelveticaNeue-Medium", sans-serif;
}

#results .result .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#results .result .product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#results .result-count {
  font-family: "HelveticaNeue-Medium", sans-serif;
}

#results .result-count > span {
  color: #383838;
}

.result .product-img {
  max-height: 250px;
}

.result .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result .product-img > div {
  position: absolute;
  bottom: 0;
  right: 0;
}

.result .pagination .page-item {
  margin: 0 5px;
}

.bottom-footer,
.top-footer {
  max-width: 1310px;
  margin: 0 auto;
}

.right-btns .nav-item img {
  height: 35px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .card-width {
    width: 100%;
  }
}

.footer {	
  font-family: "HelveticaNeue-Medium", Arial, Helvetica, sans-serif;	
}